/* Color
----------------------- */
$color-line: #c5c5c5;
$color-primary: #33333d;
$color-dark-line: #505e59;
$color-dark-title: #fcbe5b;
$color-dark-content: #e5d8c8;
$color-drak-label: #25a191;


/* font-size
----------------------- */
$font-primary-title: .32rem;
$font-primary-contet: .16rem;
$font-subhead-title: .24rem;
$font-subhead-content: .14rem;